<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
  {%- include head.html -%}
</head>
<body>
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <h1>Search Results</h1>
      <form id="search-form">
        <label for="search-box">Search</label>
        <input type="text" id="search-box" name="query">
        <input type="submit" value="Search">
      </form>

      <div id="search-results"></div>
    </div>
  </main>

  {%- include footer.html -%}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      fetch('/search.json')
        .then(response => response.json())
        .then(data => {
          const searchResults = document.getElementById('search-results');
          const query = new URLSearchParams(window.location.search).get('query') || '';
          
          if (query) {
            const results = data.filter(item => 
              item.title.toLowerCase().includes(query.toLowerCase())
            );

            if (results.length) {
              results.forEach(result => {
                const link = `<a href="${result.url}">${result.title}</a>`;
                searchResults.innerHTML += `<div>${link}</div>`;
              });
            } else {
              searchResults.innerHTML = 'No results found.';
            }
          }
        })
        .catch(error => console.error('Error fetching JSON:', error));
    });

    document.getElementById('search-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const query = document.getElementById('search-box').value;
      window.location.search = `?query=${encodeURIComponent(query)}`;
    });
  </script>
</body>
</html>
